@use '@angular/material' as mat;

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
}

// Custom snackbar styles
.success-snackbar {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;
  --mat-snack-bar-button-color: #fff !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
}

// Custom material theme
$custom-primary: mat.define-palette(mat.$blue-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

@include mat.all-component-themes($custom-theme);